@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cont{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.backgraound-clr{
    width: 100%;
    min-height: 100vh;
    display: flex;
}
.bg1{
    flex: 1;
    background-color:  rgb(180, 243, 175);

}
.bg2{
    flex: 1;
    background-color: rgb(163,234,240);
}
.about-cont{
    width: 66%;
    min-height: 68vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 24px 24px 30px #6d8dad;
}

.image-cont{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-cont img{
    width: 400px;
    height: 300px;
}
.text-cont{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.text-cont h1{
    font-size: 30px;
    padding: 10px 0px;
}
.text-cont p{
    font-size: 20px;
    padding: 10px 0px;
}
.text-cont a{
    text-decoration: none;
    padding: 12px;
    border: 2px soild rebeccapurple;
    margin-top: 30px;
    background-color: rebeccapurple;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    transition: .3s all ease-in-out;

}
.text-cont a:hover{
    background-color: transparent;
    color: black;
    border: 2px solid rebeccapurple;
}

